/* common shared styles */

body{ 
font-family: 'open sans', sans-serif ;
}
.text-primary{
    color: #FD6E0A;}
.class-btn{border-radius:5px;
background: #FD6E0A;
border: 0;
color: white;
font-size: 20px;
font-weight: 700;
padding: 15px 35px;}

/* nav related styles */
nav{ display: flex;
    justify-content: space-between;
align-items: center;
margin: 0 200px;}

.nav title{ color: #181818;
    font-size:100px;
    font-weight: 800;}
nav > ul{ display: flex;
align-items: center;}    
nav li{ list-style: none;
margin-right: 50px;}
nav a {text-decoration: none ;
color:#474747
}
/* header styles */
.header{background: #FFF8F3;
background-image:url(../images/banner2.jpg);
background-repeat: no-repeat;
background-position: bottom right;}


.banner{ padding: 30px 30px 0px 150px;
display: flex;
align-items: center;
justify-content: space-between;}
.banner .profile-pic{ width: 600px;}


.banner-greetings{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{ font-size: 85px;
font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;}
.banner-description{ font-size: 25px;
margin-top: 5px;
margin-bottom: 5px;}

/* main section styles */



/* about section styles */

.about{ padding: 130px;
background-color: #FFF8F3;
border-radius: 10px;
}

.section-title{ color: #181818;
text-align: center;
font-size: 35px;    
font-weight: 700;}


